<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Threecommerce_CleanCache::Clean_Cache"
            title="Clean Cache"
            module="Threecommerce_CleanCache"
            sortOrder="-1"
            action="cleancache/clean/cache"
            resource="Threecommerce_CleanCache::clean_cache"
        />
    </menu>
</config>
